# PostgreSQL
POSTGRES_DB=GECDb
POSTGRES_USER=GECDbUser
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5433

# Backend
ASPNETCORE_ENVIRONMENT=Development
DB_HOST=postgres
DB_PORT=5432

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_FROM_NAME="GEC System"
MAIL_FROM_EMAIL=
MAIL_USERNAME=
MAIL_PASSWORD=