# PostgreSQL
POSTGRES_DB=GECDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5433

# PGAdmin
PGADMIN_EMAIL: admin@admin.com
PGADMIN_PASSWORD: admin

# Backend
ASPNETCORE_ENVIRONMENT=Development
DB_HOST=postgres
DB_PORT=5432
